<h1>Your Bookings</h1>
<br>
  <h2>Bookings for your cars</h2>
  <% if @owner_bookings.count > 0 %>
    <strong>Upcoming bookings: <%= @owner_bookings.count %></strong>
    <br><br>
    <% @owner_bookings.each do |booking| %>
      <div class="card-booking">
        <%= booking.car.photos.attached? ? cl_image_tag(booking.car.photos.first.key) : image_tag('4L.jpg') %>
        <div class="card-booking-infos">
          <h2><%= booking.car.name %></h2>
            <p>
              <% if booking.user.photo.attached? %>
                <%= cl_image_tag booking.user.photo.key, class:"avatar" %>
              <% else %>
                <%= image_tag "avatar.png", class:"avatar" %>
              <% end %>
              Booked to <strong><%= booking.user.email %></strong>
            </p>
            <p>From <strong><%= booking.starting_date %></strong> — Until <strong><%= booking.ending_date %></strong></p>
            <p>Total price: <strong><%=(booking.ending_date - booking.starting_date).to_i*booking.car.price%>€</strong></p>
        </div>
        <div class="actions">
          <% if policy(booking).edit? %>
            <div class="edit"><i class="fa-solid fa-pen-to-square"></i></div>
          <% end %>
         <% if policy(booking).destroy? %>
            <%= link_to booking_path(booking), action: 'go', data: {turbo_method: :delete, turbo_confirm: "Cancel this booking?"} do %>
              <div class="trash"><i class="fa-solid fa-trash"></i></div>
            <% end %>
          <% end %>
        </div>
      </div>
      <br>
    <% end %>
  <% else %>
    <% if current_user.cars.count > 0 %>
      None of your cars are currently booked
    <% else %>
      You don't have any cars listed on Trip-r-bnb.
      <br><%= link_to "Start renting your car now!", new_car_path %>
    <% end %>
<% end %>
<h2>Cars you've booked</h2>
  <% if @renter_bookings.count > 0 %>
    <strong>Upcoming bookings: <%= @renter_bookings.count %></strong>
    <br><br>
    <% @renter_bookings.each do |booking| %>
      <div class="card-booking">
        <%= booking.car.photos.attached? ? cl_image_tag(booking.car.photos.first.key) : image_tag('4L.jpg') %>
        <div class="card-booking-infos">
          <h2><%= booking.car.name %></h2>
           <p>
              <% if booking.car.user.photo.attached? %>
                <%= cl_image_tag booking.car.user.photo.key, class:"avatar" %>
              <% else %>
                <%= image_tag "avatar.png", class:"avatar" %>
              <% end %>
                Booked from <strong><%= booking.car.user.email %></strong></p>
            </p>
            <p>From <strong><%= booking.starting_date %></strong> — Until <strong><%= booking.ending_date %></strong></p>
            <p>Total price: <strong><%=(booking.ending_date - booking.starting_date).to_i*booking.car.price%>€</strong></p>
        </div>
        <div class="actions">
          <% if policy(booking).edit? %>
            <%= link_to edit_booking_path(booking), :action => 'go' do %>
              <div class="edit"><i class="fa-solid fa-pen-to-square"></i></div>
            <% end %>
          <% end %>
          <% if policy(booking).destroy? %>
            <%= link_to booking_path(booking), action: 'go', data: {turbo_method: :delete, turbo_confirm: "Cancel this booking?"} do %>
              <div class="trash"><i class="fa-solid fa-trash"></i></div>
            <% end %>
          <% end %>
        </div>
      </div>
      <br>
    <% end %>
  <% else %>
    You don't have any upcoming rentals.
    <br><%= link_to "Browse available 4Ls", root_path %>
  <% end %>
<%= link_to 'Back to car list', cars_path, class: "btn btn-outline-secondary text-dark rounded-4" %>
