<h1>You have booked a <%= @booking.car.name%></h1>
<p>from <%= @booking.starting_date %> to <%= @booking.ending_date%></p>
<p>for <%=(@booking.ending_date - @booking.starting_date).to_i*@car.price%>€</p>
<%= link_to "Back to car", car_path(@car) %>
