<h1>Booking Details</h1>
<div class="py-3">
  <p>You have booked a <%= @booking.car.name%> from <%= @booking.starting_date %> to <%= @booking.ending_date%></p>
  <h2>Car Details</h2>
  <p>Located in <%= @booking.car.location %></p>
  <p>Description: <%= @booking.car.description %></p>
  <p>Daily rate: <%= @booking.car.price %> €/jour</p>
  <br>
  <%= link_to "Back to car listing", car_path(@car) %>
</div>
