<h1>Find the perfect 4L for you</h1>

<div class="main-container">
  <div class="cards">
    <% @cars.each do |car| %>
      <div class="card-trip">
        <%= car.photos.attached? ? cl_image_tag(car.photos.first.key) : image_tag('4L.jpg') %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to car.name, car_path(car) %></h2>
            <p><%= car.description %></p>
          </div>
          <h2 class="card-trip-pricing"><%= car.price %>€</h2>
          <% if car.user.photo.attached? %>
          <%= cl_image_tag car.user.photo.key, class:"card-trip-user avatar-bordered" %>
          <% else %>
          <%= image_tag "avatar.png", class: "card-trip-user avatar-bordered" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div id="map" class="map-container" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
