<h2><%= @car.name %></h2>
<p><%= @car.location %></p>
<p><%= @car.description %></p>
<h5><%= @car.price %> €/jour</h5>
<% @car.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<br>
<strong><%= link_to 'Book this car!', new_car_booking_path(@car) %></strong>
<br><br>

<ul class="list-inline">
  <li class="list-inline-item"><%= link_to 'Edit car details', edit_car_path %></li>
  <li class="list-inline-item"><%= link_to "Remove car listing", car_path(@car), data: {turbo_method: :delete, turbo_confirm: "Delete car details and remove listing from site? This cannot be undone!"}%></li>
</ul>

<%= link_to 'Back to car list', cars_path %>
