<h2><%= @car.name %></h2>
<p><%= @car.location %></p>
<p><%= @car.description %></p>
<h5><%= @car.price %> €/jour</h5>
<a><%= link_to 'Edit this car', edit_car_path %></a><br>
<%= link_to "Delete", car_path(@car), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%><br>
<a><%= link_to 'Back to cars list', cars_path %></a>
