<div class="container mt-3">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2><%= @car.name %></h2>
      <p><%= @car.location %></p>
      <p><%= @car.description %></p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
      <% @car.photos.each do |photo| %>
        <%= cl_image_tag photo.key, crop: :fill, class: "img-fluid" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <h2><%= @car.price %> €/jour</h2>
    </div>
  </div>


  <div class="row text-center">
    <div class="col-md-12">
      <h3><%= link_to 'Book this car!', new_car_booking_path(@car), class: "btn btn-primary" %></h3>
  </div>

   <div class="row text-center">
    <div class="col-md-12">
      <% if policy(@car).edit? %>
        <a><%= link_to 'Edit this car', edit_car_path, class: "btn btn-secondary" %></a>
      <% end %>
      <a><%= link_to 'Back to cars list', cars_path, class: "btn btn-secondary" %></a>
      <% if policy(@car).destroy? %>
        <%= link_to "Delete", car_path(@car), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
